
.black{
    background-color: #353a34;
}

.orange{
    background-color:#f38f06 ;
}

.red{
    background-color: #e54a38;
}

.white{
    background-color: white;
}

.grey{
    background-color: #d0d2cf;
}

.yellow{
    background-color: #f3e601;
}